.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86vh;
}

.queue-animation-wrapper {
  width: 400px;
  transition: all 0.8s ease-in-out; /* Smooth updates for container */
}

.queue-animation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transform: translateX(-9%);
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  margin-bottom: 7%;
  opacity: 1;
}

.queue-animation.hidden {
  opacity: 0;
}

.queue-ball {
  width: 65px;
  height: 65px;
  background-color: #1890ff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
}

.queue-ball.entering {
  transform: translateX(-120%);
  opacity: 0;
}

.queue-ball.moving {
  transform: translateX(0);
  opacity: 1;
}

.queue-ball.exiting {
  transform: translateX(120%);
  opacity: 0;
}

.welcome-card {
  width: 400px;
  text-align: center;
  background: white;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 20px;
}